[submodule "include/cryptopp"]
	path = include/cryptopp
	url = https://github.com/weidai11/cryptopp.git
	branch = CRYPTOPP_8_6_0
[submodule "elements/local/bloom"]
	path = elements/local/bloom
	url = https://github.com/isi-lincoln/bloom.git
[submodule "include/gferasure"]
	path = include/gferasure
	url = https://pulwar.isi.edu/lincoln/gferasure.git
